<div class=" header bg-blue pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-white d-inline-block mb-0">Propiedades</h6>
          
                    <nav
                      aria-label="breadcrumb"
                      class=" d-none d-md-inline-block ml-md-4"
                    >
                      <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                        <li class=" breadcrumb-item">
                          <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                        </li>          
                      
                      </ol>
                    </nav>                  
                </div>             
            </div>                   
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class=" card mb-4">
        <div class=" card-header"><h3 class=" mb-0">Buscador</h3></div>
    
        <div class=" card-body">
            <div class="row">
                <div class=" col-md-2">
                    <div class="form-group">
                        <label class="text-black">Tipo de operación </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">                                
                                <span class=" input-group-text">
                                    <i class="fas fa-money-check"></i>
                                </span>
                            </div>
                           
                            <select class="form-select form-control" id="exampleFormControlSelect1">
                                <option> Venta </option>
                                <option> Renta </option>
                                <option> Renta vacacional </option>
                                <option> Oportunidad </option>
                                
                            </select>
                        </div>
                    </div>   
                </div>

                <div class=" col-md-2">
                    <div class="form-group">
                        <label class="text-black">Tipo de inmueble</label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">                                
                                <span class=" input-group-text">
                                    <i class="fas fa-hotel"></i>
                                </span>
                            </div>
                           
                            <select class="form-select form-control" id="exampleFormControlSelect1">
                                <option> Departamento </option>
                                <option> Casa </option>
                                <option> Bodega </option>
                                <option> Rancho </option>
                                <option> Terreno </option>
                            </select>
                        </div>
                    </div>   
                </div>
                
                <div class=" col-md-2">
                    <div class="form-group">
                        <label class="text-black">Moneda </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">                                
                                <span class=" input-group-text">
                                    <i class="fas fa-dollar-sign"></i>
                                </span>
                            </div>
                           
                            <select class="form-select form-control" id="exampleFormControlSelect1">
                                <option> MXN </option>
                                <option> USD </option>
                                <option> EUR </option>                                
                            </select>
                        </div>
                    </div>   
                </div>

                <div class=" col-md-2">
                    <div class="form-group">
                        <label class="text-black">Precio Mínimo</label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">                                
                                <span class=" input-group-text">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </div>
                           
                            <input class=" form-control" placeholder="Precio mínimo" type="text">
                        </div>
                    </div>   
                </div>

                <div class=" col-md-2">
                    <div class="form-group">
                        <label class="text-black">Precio Máximo</label>
                        <div class=" input-group input-group-merge">                            
                            <div class=" input-group-prepend">
                                <span class=" input-group-text">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </div>
                           
                            <input class=" form-control" placeholder="Precio Máximo" type="text">
                        </div>
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class=" col-md-2">
                    <div class="form-group">
                        <label class="text-black">Ciudad</label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">                                
                                <span class=" input-group-text">
                                    <i class="fas fa-city"></i>
                                </span>
                            </div>
                            <input class=" form-control" placeholder="Ciudad" type="text">
                        </div>
                    </div>   
                </div>

                <div class=" col-md-2">
                    <div class="form-group">
                        <label class="text-black">Estado </label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">                                
                                <span class=" input-group-text">
                                    <i class="fas fa-city"></i>
                                </span>
                            </div>
                           
                            <select class="form-select form-control" id="exampleFormControlSelect1">
                                <option> Quintana Roo </option>
                                <option> Yucatán </option>                               
                                
                            </select>
                        </div>
                    </div>   
                </div>

                <div class=" col-md-2">
                    <div class="form-group">
                        <label class="text-black">Municipio</label>
                        <div class=" input-group input-group-merge">
                            <div class=" input-group-prepend">                                
                                <span class=" input-group-text">
                                    <i class="fas fa-city"></i>
                                </span>
                            </div>
                           
                            <select class="form-select form-control" id="exampleFormControlSelect1">
                                <option> 3 Reyes</option>
                                <option> Zona hotelera </option>
                                
                            </select>
                        </div>
                    </div>   
                </div>  
                <div class=" col-md-2">    
                    <br>                                 
                    <div class="form-group pt-2">                       
                        <div class=" input-group input-group-merge pt-4.5">
                            <button class="btn btn-dark" type="button"> <i class="fas fa-search-plus"></i> Buscar</button>
                        </div>
                    </div>   
                </div>           
            </div>
        </div>
      </div>
</div>
<div class=" container-fluid mt--5">
    <div class="row">
        <div class="card col-md-3 ms-5">
            <img src="/assets/img/house-1477041_1280.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                            <h4 class="card-title">Hermosa casa en venta</h4>
                            <p class="card-text"> <i class="fas fa-map-marker-alt text-red"> </i> Zona Hotelera</p>
                    </div>
                    <div class="col-md-12 mt-1">
                           <p class="card-text">
                                <i class="fas fa-home"></i> Departamento
                           </p>
                    </div>
                    <div class="col-md-6 mt-1">                    
                            <p class="card-text">
                                Precio venta 
                                $150,000                       
                            </p>                    
                    </div>                  
                    <div class="col-md-6 mt-1">
                            <p class="card-text">Precio renta
                                $150,000  
                            </p>
                    </div>
                        <div class="col-md-12 mt-4">
                            <a  routerLink="/inventory/add-properties" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Editar</a>        
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
